.sign {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user {
  display: flex;
  align-items: center;
  gap: 5px;
}

.name {
  color: #fff;
  font: 500 16px/1.2 var(--font);
}

.name.light {
  color: var(--l-black);
}