.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 85px;
  width: 100%;
  gap: 5px;
}

.num {
  color: #fff;
  font: 700 20px/1.3 var(--font);
  background: transparent;
  width: 100%;
  text-align: center;
}

.light .num {
  color: var(--l-black);
}