:root {
  --grey: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  --border-grey: #FFFFFF1A;
  --border-gradient: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
  --text-grey: #A6A7AB;
  --green: #72A479;
  --border-green: #618967;
  --font: Gilroy, sans-serif;
  --wide-container: 1271px;
  --small-container: 1096px;
  --l-orange: #FF7A50;
  --l-orange-hov: #f97148;
  --l-border: #D7D7D7;
  --l-black: #363853;
  --l-skeleton-animation: lightSkeletonLoading 1s linear infinite;
  --skeleton-animation: SkeletonLoading 1s linear infinite;
}

html {
  scroll-behavior: smooth;
}

@keyframes SkeletonLoading {
  from {
    background: #ffffff33
  }

  to {
    background-color: #ffffff00
  }
}

@keyframes lightSkeletonLoading {
  from {
    background: #e4e3e3
  }

  to {
    background-color: #b8b8b8
  }
}