.item {
  background: var(--grey);
  padding: 20px 40px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item.light {
  background: #fff;
}

.name {
  font: 700 18px/1.2 var(--font);
  color: #fff;
  margin-bottom: 4px;
}

.review {
  font: 400 16px/1.2 var(--font);
  color: #fff;
  font-style: italic;
}

.light .name, .light .review {
  color: var(--l-black);
}

.score {
  color: #fff;
  font: 700 32px/1.2 var(--font);
}

.light .score {
  color: var(--l-black);
}