.button {
  background: var(--green);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  flex-shrink: 0;
}

.button:hover {
  background: var(--border-green);
}

.light.button {
  background: var(--l-orange);
}

.light.button:hover {
  background: var(--l-orange-hov);
}